.menu-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-container .toggler{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-container .hamburguesa{
  position: absolute;
  top: 10;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--color-primario);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Línea menú hamburguesa */
.menu-container .hamburguesa > div{
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in;
}

/* Líneas menú hamburguesa arriba y abajo */
.menu-container .hamburguesa > div::before,
.menu-container .hamburguesa > div::after{
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-container .hamburguesa > div::after{
  top: 10px;
}

/* Animación toggler */
.menu-container .toggler:checked + .hamburguesa > div{
  transform: rotate(135deg);
}

/* Cambiar líneas en "X" */
.menu-container .toggler:checked + .hamburguesa > div::before,
.menu-container .toggler:checked + .hamburguesa > div::after{
  top: 0;
  transform: rotate(90deg);
}

/* Rotar "X" al pasar el mouse */
.menu-container .toggler:checked:hover + .hamburguesa > div{
  transform: rotate(225deg);
}

/* Mostra menú */
.menu-container .toggler:checked ~ .menu{
  visibility: visible;
}

.menu-container .toggler:checked ~ .menu > div{
  transform: scale(1);
  transition-duration: var(--velocidad-menu);
}

.menu-container .toggler:checked ~ .menu > div > div{
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-container .menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
 overflow: hidden;
 display: flex;
 align-items: center;
 justify-content: center;
}

/* Animación aparición menú */
.menu-container .menu > div{
  background: var(--color-superpuesto);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
  flex: none; 
}

.menu-container .menu > div > div>{  
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-container .menu > div > div > ul > li{
  color: white;
  list-style: none;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-container .menu > div > div > ul > li > a{
  color: inherit;
  text-decoration: none;
  transition: color 2s ease;
  
}

.menu-container .menu > div > div > ul > li > a:hover{
  color: var(--color-secundario);  
}