             *{
            box-sizing:border-box;
            margin:0;
            padding:0; 
            }
           
            #container{
            opacity:.3;
            }
           

            .row::after {
                content: "";
                clear: both;
                display: table;
            }
            
            .emergente{
                width:400px;
                height:200px;
                position:auto;
                background-color:#d6cfcf;
                top:50%;
                left:50%;
                margin-left:-200px;
                margin-top:-100px;
                border:1px solid #000;
                border-radius:10px;
                padding:20px;
                text-align:center;
                box-shadow: 10px 10px 10px #ccc;
            }
            
            .emergente p{
                font-size:24px;
            }
            
            .emergente .boton{
                font-size:18px;
                padding:10px;
                border:1px solid #000;
                border-radius:5px;
                display:inline-block;
                width:150px;
                margin-top:32px;
                box-shadow:5px 5px 5px #ccc;
            }
            .menor{background-color:#FAF0E6;}
            .mayor{background-color:#F5F5DC;}
            .menor:hover{background-color:#8891eb;}
            .mayor:hover{background-color:#00ff00;}

    